*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Agent-parent{
    .container-agent{
        margin-top: 100px !important;
    }
.agent-heading {
    margin-top: 20px;
}
input.form-control {
    border: 1px solid #ced4da;
}

}